{% extends "base/page/user.html.twig" %}

{% block content %}
    {% if code == 206 or code == 200 %}
        <div class="{% if code == 206 %}alert alert-warning{% else %}alert alert-success{% endif %}">{{ code | trans }}</div>
    {% endif %}

    <div class="card bg-mngame">
        <div class="card-header">
            <h4 class="font-weight-bold">Ekwipunek</h4>
            {% if userItemList | length > 1 %}
                <form action="{{ path('item-list-profile') }}" method="post">
                    <button class="btn btn-info btn-block">{% trans %}Execute all{% endtrans %}</button>
                </form>
            {% endif %}
        </div>

        <div class="card-body">
            {% if userItemList is empty %}
                <div class="alert alert-info">{% trans %}Nothing to do here{% endtrans %}</div>
            {% endif %}
            <div class="container-fluid">
                {% for item in userItemList %}
                    <div class="row pb-2">
                        <div class="col-6">
                            <img src="{{ item.icon }}" class="item-icon-equipment" alt="{{ item.name }}">
                        </div>
                        <div class="col-6">
                            <div class="item-information">
                                <span class="quantity">Sztuk: {{ item.quantity }}</span>
                                {% for s in server %}
                                    {% if s.id == item.item.itemList.serverId %}
                                        <h5>Dotyczy serwera: {{ s.name }}</h5>
                                    {% endif %}
                                {% endfor %}
                                <form action="{{ path('item-profile') }}" method="post">
                                    <input type="hidden" name="itemId" value="{{ item.id }}"/>
                                    <button class="btn btn-warning">{% trans %}Execute{% endtrans %}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}