{% extends 'base/base.html.twig' %}

{% block body %}
        {% if send %}
            <div class="alert alert-info">Jeżeli takie konto istnieje, to na email powinieneś otrzymać link do resetowania hasła. Sprawdź swoją skrzynkę pocztową.</div>
        {% endif %}
        <div class="card bg-mngame">
            <div class="card-header">
                <h4 class="font-weight-bold">Zresetuj hasło</h4>
            </div>
            <div class="card-body">
                {{ form_start(form, {action: '/reset'}) }}
                {{ form_row(form.username) }}
                {{ form_row(form.reCaptcha) }}
                {{ form_errors(form.reCaptcha) }}

                <div id="recaptcha-component"></div>

                <button class="btn btn-warning btn-block w-100" type="submit">Zresetuj haslo</button>
                {{ form_end(form) }}
            </div>
        </div>
{% endblock %}