{% extends 'base/base.html.twig' %}

{% block body %}
    <div class="card bg-mngame">
        <div class="card-header">
            <h4 class="font-weight-bold">Lista Tutoriali</h4>
        </div>
        <div class="card-body">
            <p class="card-text">Nagrałeś swój tutorial i chcesz go umieścin na naszej stronie?
                Wyślij nam link do filmiku, oraz opis tekstowy całego poradnika!</p>
        </div>
    </div>

    <div id="accordion" class="mt-2">
        {% for tutorial in tutorialList %}
            <div class="card bg-mngame">
                <div class="card-header" id="tutorialHead{{ tutorial.id }}">
                    <label class="h5 mb-0 w-100">
                        <a class="position-relative font-weight-bold w-100 d-block " data-toggle="collapse"
                           data-target="#tutorial{{ tutorial.id }}"
                           aria-expanded="true" aria-controls="tutorial{{ tutorial.id }}">
                            {{ loop.index }}. {{ tutorial.question }}&nbsp;
                            <span class="fa fa-chevron-down font-weight-bold position-absolute rb-0"></span>
                        </a>
                    </label>
                </div>

                <div id="tutorial{{ tutorial.id }}" class="collapse" aria-labelledby="tutorialHead{{ tutorial.id }}"
                     data-parent="#accordion">
                    <div class="card-body">
                        {% if tutorial.embed is defined %}
                            <iframe id="player" type="text/html" height="360"
                                    src="{{ tutorial.embed }}" class="w-100 d-block border-0"></iframe>
                        {% endif %}
                        <br/>
                        {{ tutorial.text | raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
