<div class="information bg-mngame">
    {% for s in server %}
        {% if s.id == app.session.get('serverId') %}
            {% if s.message is not defined %}
                <h1>Coś o nas?</h1>
                <h2 class="h4">Jesteśmy jedyną siecią w Polsce, która stara się na bieżąco rozwiązywać problemy
                    swoich graczy!</h2>
                <br/>
                <ol class="list-style-none">
                    <li>Nie zostajemy obojętni na wasze prośby. Staramy się pomóc najlepiej jak potrafimy!</li>
                    <li>Każda z osób z administracji jest wyspecjalizowana w swoim fachu! Każdy jest
                        niezastąpiony!
                    </li>
                    <li>Posiadamy autorskie narzędzia deweloperskie oraz wiele potrzebnych umiejętności.</li>
                    <li>Robimy wszystko co w naszej mocy, aby rozgrywka była jak najprzyjemniejsza.</li>
                </ol>
                <div class="container mt-2">
                    <span>
                        Nasze serwery skupiają sie przede wszystkim na grze survival! W przyszłości pojawią się
                        także inne tryby!
                        Posiadamy autorski system zabezpieczeń, który sprawia, że możecie grać zarówno jako gracze
                        premium ze wszystkimi przywilejami, jak i non premium z koniecznością rejestracji na serwerze.
                    </span>
                </div>
            {% else %}
                <h1>O serwerze</h1>
                <div>{{ s.message | raw }}</div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
<div class="information bg-mngame">
    <h1>Nasza ekipa!</h1>
    {% set craftar = 'https://cravatar.eu/avatar/' %}
    <ul class="list-unstyled">
        {% for admin in admins %}
            <li class="media bg-dark">
                <img src="{% if admin.skinUrl is not empty %}{{ admin.skinUrl }}{% else %}{{ craftar }}{{ admin.user.username }}{% endif %}" class="mr-3" alt="skin {{ admin.user.username }}">
                <div class="media-body">
                    <h5 class="mt-0">{{ admin.user.username | capitalize }}</h5>
                    <p>{{ admin.description | raw }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>