<div class="main-context">
    <h1 class="text-info">Nasza ekipa!</h1>
    {% set craftar = 'https://cravatar.eu/avatar/' %}
    <div class="container-fluid">
        {% for admin in admins %}
            <div class="row mt-2">
                <div class="w-25">
                    {% if admin.skinUrl is not empty %}
                        <img class="w-100" src="{{ admin.skinUrl }}" alt="skin {{ admin.user.username }}">
                    {% else %}
                        <img class="w-100" src="{{ craftar }}{{ admin.user.username }}"
                             alt="skin {{ admin.user.username }}">
                    {% endif %}
                </div>
                <div class="w-75 p-2">
                    <h5 class="card-title">{{ admin.user.username }}</h5>
                    <p class="card-text">{{ admin.description | raw }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
